body {
    background-color:rgba(39, 39, 39, 0.68); /* Background color of Body */
    font-size:0.5px;
}
.greece {
    width: 675em;
    height: 50em;
    background-color: rgb(13, 94, 175); /* Horizontal Strip Blue Color */
    box-shadow: 0em 50em 0 0 rgb(255, 255, 255), 0em 100em 0 0 rgb(13, 94, 175), 0em 150em 0 0 rgb(255, 255, 255), 0em 200em 0 0 rgb(13, 94, 175), 0em 250em 0 0 rgb(255, 255, 255), 0em 300em 0 0 rgb(13, 94, 175), 0em 350em 0 0 rgb(255, 255, 255), 0em 400em 0 0 rgb(13, 94, 175);
    
}
.greece::before{
    content: "";
    position: absolute;
    width: 150em;
    height: 100em;
    background-color: rgb(13, 94, 175);
    box-shadow: 100em 0em 0 0 rgb(13, 94, 175),100em 100em 0 0 rgb(13, 94, 175),0em 100em 0 0 rgb(13, 94, 175);
}
.greece::after{
    content: "";
    position: absolute;
    width: 50em;
    height: 50em;
    background-color: rgb(255, 255, 255); /* White Box Color */
    left: 100em;
    box-shadow: 0em 200em 0 0 white,0em 150em 0 0 white,-100em 100em 0 0 white,-50em 100em 0 0 white,0em 50em 0 0 white,50em 100em 0 0 white,100em 100em 0 0 white,0em 100em 0 0 white;
}
div {
    position: relative;
    left:50em;
}